{% extends 'base.html' %}

{% block content %}

  <br/>
  <div class="container">
    <h2>Subir recuerdos a Wikip</h2>
    <ol>
      <li>
        Para subir recuerdos a tu cuenta de Wikip simplemente descarga la app Telegram en tu móvil u ordenador e <a target="_blank" rel="noopener noreferrer" href="https://t.me/WikipTelegramBot">instala el bot de Wikip</a>.
      </li>
      <li>
        Envía tus recuerdos a la conversación de Wikip y serán almacenados en tu cuenta.
      </li>
      <li>
        Nosotros te devolvemos inmediatamente un enlace al recuerdo que has subido.
      </li>
    </ol>
    <h2>Compartir recuerdos</h2>
    <p>Durante la fase beta de Wikip, los enlaces de Wikip son públicos por defecto.</p>
    <ol>
      <li>Copiar el enlace que te devuelve Wikip al subir un recuerdo</li>
      <li>Pasaselo a quien quieras por email o tu aplicación de mensajería favorita (Whatsapp, etc).</li>
  </div>

{% endblock content %}